In [12]:
import sqlite3 as sl
con = sl.connect('dont_touch.db')
# with con:
#     con.execute("""
#         CREATE TABLE central_tracker (
#             article_number char(15) NOT NULL PRIMARY KEY ,
#             ref_id char(20) ,
#             booking_date char(20),
#             destination_pincode char(10) ,
#             addressee TEXT ,
#             addressee_address TEXT ,
#             weight char(50) ,
#             net_value char(50) ,
#             LPJ_person char(100)  ,
#             casecode char(50) ,
#             delivery_status char(30) 
#         );
#     """)

In [71]:
# sql = """INSERT INTO central_tracker (article_number, ref_id , booking_date, addressee,addressee_address , destination_pincode
#                                       ,weight ,net_value, LPJ_person, casecode , delivery_status) values(?, ?,?, ? , ?, ?, ?, ?, ?, ?,?)"""
# data = [
#     ('ED163571894IN','9213/A3/X1','14/07/22', 'Deepak Badhwar','Ch. No. 125 Ground Floor, Mahatma Gandhi Lawyers Complex',
#      '147001','','','','','Delivered'),
#     ('ED163571903IN','9189/A8/X1','14/07/22', 'Virender dhar dubey','Vivakanad Chaya Kunj Civil Court',
#      '273001','','','','','Not Delivered')
# ]

In [66]:
# con.execute("""drop table central_tracker""")

In [67]:
# with con:
#     con.executemany(sql, data)

In [77]:
with con:
    data = con.execute("SELECT * FROM central_tracker ")
    for row in data:
        print(row)
con.close()

In [3]:
# from script to excel
import sqlite3
from xlsxwriter.workbook import Workbook
workbook = Workbook('output_db.xlsx')
worksheet = workbook.add_worksheet()

conn=sqlite3.connect('dont_touch.db')
c=conn.cursor()
c.execute("select * from central_tracker")
mysel=c.execute("select * from central_tracker ")

first_row = 0
ordered_list = ['Article No','RefID','Booking Date','Destination Pincode','Addressee','Addressee Address','Weight','Net Value','LPJ Person','CaseCode','Delivery Status']
# push the header information
for header in ordered_list:
    col = ordered_list.index(header)  # We are keeping order.
    worksheet.write(
        first_row, col, header
    )  # We have written first row which is the header of worksheet also.

for i, row in enumerate(mysel):
    for j, value in enumerate(row):
        worksheet.write(i+1, j, row[j])
workbook.close()

In [36]:
import openpyxl
tracker_dict ={}
# from excel to DB
book = openpyxl.load_workbook('output_db.xlsx')
sheet = book['Sheet1']
# here you iterate over the rows in the specific column
for row in range(2, sheet.max_row + 1):
    main_key = red_id  = destination_pin_code = addressee = addressee_address = None
    for column in "AGHIJ":  # Here you can add or reduce the columns
        cell_name = "{}{}".format(column, row)
        if column == "A":
            main_key = sheet[cell_name].value
        if column == "G":
            weight = sheet[cell_name].value
            if weight == None :
                weight = ''
        if column == "H":
            net_value = sheet[cell_name].value
            if net_value == None:
                net_value = ''
        if column == "I":
            lpj_person = sheet[cell_name].value
            if lpj_person == None:
                lpj_person =''
        if column == "J":
            case_code = sheet[cell_name].value
            if case_code == None :
                case_code = ''

    if main_key:
        tracker_dict[main_key] = [weight, net_value ,lpj_person,case_code]

print(tracker_dict)

{'ED163571903IN': ['0', '5', '6', '7'], 'ED163551625IN': [1, '', '', ''], 'ED163551634IN': [2, '', '', ''], 'ED163551648IN': [3, '', '', ''], 'ED163551651IN': [4, '', '', ''], 'ED163551665IN': [5, '', '', ''], 'ED163551679IN': [6, '', '', ''], 'ED163571894IN': [7, '', '', ''], 'ED163551682IN': [8, '', '', '']}

In [39]:
# con = sl.connect('dont_touch.db')
for k , v in tracker_dict.items():
    print(v[0],v[1],v[2],v[3],k )
    con.execute('''update central_tracker set weight = "%s" , net_value = "%s" , LPJ_person = "%s" , casecode="%s" where article_number = "%s" '''%( str(v[0]),v[1],v[2],v[3],k ))
    con.commit()

0 5 6 7 ED163571903IN
1    ED163551625IN
2    ED163551634IN
3    ED163551648IN
4    ED163551651IN
5    ED163551665IN
6    ED163551679IN
7    ED163571894IN
8    ED163551682IN

In [14]:
data= con.execute('''update central_tracker set weight = "1" and net_value = "2" and LPJ_person = "3" and casecode="4" where article_number = "ED163571894IN" ''')
# for row in data:
#     print(row)
con.commit()

In [14]:
con.close()

In [13]:
data= con.execute('''delete from central_tracker where article_number = "ED916326509IN" ''')
data= con.execute('''delete from central_tracker where article_number = "ED916326490IN" ''')

con.commit()

In [79]:
# data = con.execute('''DELETE FROM central_tracker ''')
con.commit()